/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
  height: 100vh;
  width: 100vw;
  background-color: #6eb5c0;
}

header {
  height: 50px;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  background-color: #e2e8e4;
  font-size: 2rem;
}

.main {
  box-sizing: border-box;
  padding-top: 5rem;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.card {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  background-color: #ffccbb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.addBtn>img {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.addBtn>img:hover {
  width: 60px;
  height: 60px;
}

.popup-form {
  background-color: #e2e8e4;
  height: 50vh;
  width: 20vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-form div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.2rem;
}

.popup-form button {
  width: 50%;
  align-self: center;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: #6eb5c0;
  cursor: pointer;
}

.popup-form label {
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.popup-form input {
  background-color: rgb(223, 223, 223);
  height: 1.5rem;
  border-radius: 5px;
}

.close {
  margin-top: -1rem;
  position: relative;
  width: 90%;
}

.close>img {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.close>img:hover {
  width: 27px;
  height: 27px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
